/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

:root {
  /* Colors */
  --color-red: rgb(249, 79, 79);
  --color-bgBlack: #191921;
  --color-white: #ffffff;
  --color-textBlack: #000000;
}

/* CLASS FONTS */
.font-body {
  font:
    400 1.125rem / 1.77 "Commissioner",
    sans-serif;
}

.font-h1 {
  font:
    800 5rem / 1.1 "Commissioner",
    sans-serif;
}

.font-h2 {
  font:
    800 3.5rem / 1.14 "Commissioner",
    sans-serif;
}

.font-h3 {
  font:
    800 1.25rem / 1.6 "Commissioner",
    sans-serif;
}

/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  display: inline-block;
  text-decoration: none;
}

/*
10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover; /* Fills container, maintains ratio, crops edges */
  object-position: left; /* Centers the crop */
}

a:link {
  text-decoration: none;
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Container */
.container {
  max-width: 90rem;
  margin: 0 auto;
}

/*==========HEADER==========*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10.313rem;
}

.nav__bg {
  background-color: var(--color-red);
  padding: 56px 165px 58px 69px;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.nav__item {
  width: 54px;
}

.nav__item a {
  font:
    400 1rem / 2 "Commissioner",
    sans-serif;
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
}

.nav__item a:hover {
  font-weight: 800;
}

.btn__header {
  display: inline-block;
  font:
    800 1rem / 2 "Commissioner",
    sans-serif;
  color: var(--color-white);
  text-decoration: none;
  background-color: var(--color-textBlack);
  padding: 20px 45px;
  transition: all 0.2s ease-in-out;
}

.btn__header:hover {
  background-color: #434356;
}

.nav__bg.sticky {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 899;
  width: 100%;
  background-color: rgba(239, 79, 79, 0.95);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav.sticky {
  justify-content: end;
  z-index: 1;
}

.header__logo.sticky {
  position: fixed;
  top: 56px;
  left: 165px;
  z-index: 999;
  filter: contrast(4.75);
}

/*==========HERO==========*/
.hero {
  display: grid;
  align-items: center;
  padding-left: 10.313rem;
}

.hero__content {
  max-width: 50rem;
  grid-area: 1/1;
  z-index: 1;
}

.hero__text {
  max-width: 25.375rem;
  margin: 40px 0 16px 0;
}

.btn__hero {
  display: inline-block;
  font:
    900 1.125rem / 2 "Commissioner",
    sans-serif;
  padding: 25px 40px;
  background-color: var(--color-red);
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
}

.btn__hero:hover {
  background-color: #ff9393;
}

.hero__img {
  grid-area: 1 / 1;
  margin-left: auto;
}

/*==========DESIGN STRATEGIC==========*/
.design {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.design__content {
  max-width: 100%;
  height: 49rem;
  padding: 200px 106px 200px 154px;
  background: var(--color-bgBlack);
  display: grid;
  justify-items: start;
  position: relative;
}

.design__content::before {
  content: "";
  width: 135px;
  height: 61px;
  background: no-repeat url(../images/desktop/bg-pattern-wave-red.svg);
  position: absolute;
  left: -62px;
  top: 234px;
}

.design__title {
  color: var(--color-white);
  margin-bottom: 43px;
}

.design__title span {
  color: var(--color-red);
}

.design__text {
  max-width: 445px;
  color: var(--color-white);
  margin-bottom: 48px;
}

.btn__design {
  display: inline-block;
  font:
    800 1rem / 2 "Commissioner",
    sans-serif;
  color: var(--color-red);
  display: grid;
  transition: all 0.3s ease-in-out;
}

.btn__design::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-red);
  grid-area: 2/1;
  transition: all 0.3s ease-in-out;
}

.btn__design:hover {
  color: #ff9393;
}
.btn__design:hover::before {
  background-color: #ff9393;
}

.design__img {
  width: 100%;
}

/*==========APPROACH==========*/
.approach {
  display: grid;
  position: relative;
}
.approach__container {
  max-width: 79.688rem;
  display: grid;
  margin-left: auto;
  position: relative;
  margin-top: -198px;
}

.approach__title {
  grid-area: 1 / 1;
  max-width: 20ch;
  align-self: center;
  position: absolute;
  left: -380px;
}

.approach__content {
  max-width: 55.938rem;
  grid-area: 1 / 1;
  background-color: var(--color-red);
  padding: 200px 106px 200px 285px;
}
.approach__list {
  display: grid;
  gap: 76px;
}

.approach__item {
  display: grid;
  position: relative;
}

.approach__number {
  font:
    800 5rem/1.1 "Commissioner",
    sans-serif;
  color: var(--color-white);
  opacity: 0.2;
  grid-area: 1 / 1;
  position: absolute;
  top: -45px;
  left: -65px;
}

.approach__desc {
  max-width: 445px;
  grid-area: 1 / 1;
}

.approach__subtitle {
  color: var(--color-white);
  margin-bottom: 24px;
}

.approach__text {
  color: var(--color-white);
}

/*==========BRAND==========*/
.brand {
  display: grid;
}

.brand__content {
  max-width: 735px;
  height: 528px;
  background-color: var(--color-textBlack);
  padding: 152px 125px 152px 165px;
  grid-area: 1 / 1;
  z-index: 9;
  position: relative;
}

.brand__content::before {
  content: "";
  display: block;
  width: 135px;
  height: 61px;
  background: url(../images/desktop/bg-pattern-wavy-white.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -60px;
  top: 186px;
  z-index: 999;
}

.brand__title {
  color: var(--color-white);
  margin-bottom: 56px;
}

.brand__icons {
  display: flex;
  gap: 16px;
}

.brand__icons svg,
.brand__icon {
  cursor: pointer;
}

.brand__icon g {
  stroke: #f94f4f;
  transition: stroke 0.3s;
}

.brand__icon:hover g {
  stroke: #ff9393;
}

.brand__slide {
  width: 895px;
  height: 738px;
  background: center / cover no-repeat url(../images/desktop/image-slide-1.jpg);
  color: var(--color-white);
  position: relative;
  grid-area: 1 / 1;
  margin-left: auto;
}

.brand__slide-content {
  display: grid;
  justify-content: start;
  position: absolute;
  bottom: 68px;
  right: 154px;
}

.brand__text {
  justify-self: end;
}

.footer {
  max-width: 69.375rem;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 115px;
  position: relative;
}

.footer > .btn__header {
  padding: 23px 44px;
  background-color: var(--color-red);
  white-space: nowrap;
}

.footer > .btn__header:hover {
  background-color: #ff9393;
}

.footer::before {
  content: "";
  display: block;
  width: 135px;
  height: 61px;
  background: no-repeat url(../images/desktop/bg-pattern-wave-red.svg);
  position: absolute;
  left: -240px;
  top: 34px;
}

/* RESPONSIVE */
@media (max-width: 68.75em) {
  .header {
    padding-left: 40px;
  }
  .nav {
    gap: 28px;
  }

  .nav__list {
    gap: 20px;
  }
  .nav__bg {
    background-color: var(--color-red);
    padding: 57px 40px 57px 33px;
  }

  .btn__header {
    padding: 22px 18px;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 56px;
    padding-left: 40px;
  }

  .hero__content {
    max-width: 398px;
  }

  .hero__title {
    font-size: 3.5rem;
    line-height: 1;
  }

  .design__content {
    height: 538px;
    padding: 120px 40px 120px 70px;
    align-content: center;
  }

  .design__content::before {
    background-size: 63px 29px;
    position: absolute;
    left: -32px;
    top: 200px;
  }

  picture > .design__img {
    width: 100%;
  }

  .design__title {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .design__text {
    font-size: 0.938rem;
    line-height: 1.6;
    margin-bottom: 32px;
  }

  .btn__design {
    font-size: 0.938rem;
    line-height: 1;
  }

  .approach__container {
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    margin-top: -130px;
  }

  .approach__title {
    grid-area: auto;
    padding-left: 40px;
    justify-self: end;
    position: relative;
    left: 0;
    font-size: 2rem;
    line-height: 1.25;
  }

  .approach__content {
    grid-area: auto;
    padding: 120px 40px 120px 59px;
  }

  .approach__number {
    top: -46px;
    left: -10px;
  }

  .approach__desc {
    font-size: 0.938rem;
    line-height: 1.6;
    grid-area: 1 / 1;
  }

  .approach__subtitle {
    font-size: 0.938rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .brand__content {
    width: 390px;
    height: 352px;
    padding: 100px 70px 100px 40px;
  }

  .brand__content::before {
    background-size: 63px 29px;
    right: -100px;
    top: 156px;
  }

  .brand__title {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .brand__slide {
    width: 438px;
    height: 472px;
    background-image: url(../images/desktop/image-slide-1.jpg);
  }

  .brand__slide-content {
    bottom: 40px;
    right: 45px;
  }

  .footer {
    margin: 0;
    padding: 70px 40px 100px 40px;
    gap: 92px;
  }

  .footer__title {
    font-size: 2rem;
    line-height: 1.25;
  }
}

@media (max-width: 42.5em) {
  .header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .nav__bg {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 56px;
    padding-left: 0;
  }

  .hero__content,
  .hero__img {
    grid-area: auto;
  }

  .hero__content {
    padding: 0 24px 96px 24px;
  }
  .hero__img {
    grid-row: 1;
    max-width: 100%;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__text {
    margin-bottom: 40px;
  }

  .btn__hero {
    padding: 25px 40px;
  }

  .design {
    grid-template-columns: 1fr;
  }

  .design__content {
    height: 377px;
    padding: 72px 24px;
    align-content: center;
  }

  .design__content::before {
    left: 24px;
    top: -10px;
  }

  picture > .design__img {
    width: 100%;
  }

  .design__title {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .design__text {
    font-size: 0.938rem;
    line-height: 1.6;
    margin-bottom: 32px;
  }

  .btn__design {
    font-size: 0.938rem;
    line-height: 1;
  }

  .approach__container {
    grid-template-columns: 1fr;
    margin-top: 0px;
    max-width: 100%;
  }

  .approach__title {
    max-width: 100%;
    padding-top: 96px;
    background-color: var(--color-red);
    color: var(--color-white);
    padding-bottom: 93px;
    padding-left: 24px;
  }

  .approach__content {
    padding: 0px 24px 96px 24px;
  }

  .brand {
    grid-template-columns: 1fr;
  }

  .brand__content,
  .brand__slide {
    grid-area: auto;
  }

  .brand__content {
    width: 100%;
    padding: 64px 24px;
  }

  .brand__slide {
    width: 100%;
    background-image: url(../images/mobile/image-slide-1.jpg);
    grid-row: 1;
  }

  .brand__content::before {
    display: none;
  }

  .footer {
    margin: 0;
    padding: 100px 24px;
    flex-direction: column;
    gap: 47px;
  }

  .footer__title {
    font-size: 2rem;
    line-height: 1.25;
  }
}
